.container {
    height: auto;
    z-index: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    padding: 6px;
    max-width: 1000px;
    margin: 0 auto;
}

.innerContainer {
    z-index: 0;
}


@media screen and (max-width: 700px) {
    .container {
        padding: 6px;
        height: auto;
        display: grid;
        grid-template-rows: auto 1fr auto;

        max-width: 500px;
        margin: 0 auto;
    }

    .innerContainer {
        margin: 0 auto;
    }
}